.custom-shape-divider-bottom-1665343298 {
  width: 100%;
  overflow: hidden;
  line-height: 0;
}
.custom-shape-divider-bottom-1665343298 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 200px;
}
.hero-title-gradient {
  background: -webkit-linear-gradient(white, #b4add1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.hero-gradient {
  --a: 0deg;
  position: absolute;
  width: 90%;
  height: 50%;
  bottom: 18%;
  left: 5%;
  filter: blur(150px);
  border-radius: 50%;
  background: linear-gradient(var(--a), #e52c96 0, #473ff4 100%);
  animation: gradientSpin 10s linear infinite;
}

@keyframes gradientSpin {
  0% {
    --a: 0deg
  }

  to {
    --a: 360deg
  }
}
